@media (max-width: 600px) {
  body{
    background-color: yellow;
  }
  .products{
    display: inherit;
    height: auto;
  }
  .product{
    margin-top: 0;
  }
  .banners, .mentions{
    display: inherit;
    margin-left: 15%;
    margin-right: 15%;
  }

}
